{{#section 'css'}}
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<link rel='stylesheet' href='css/errors.css'>
{{/section}}

<div class="container">
    <p class='errorTitle'>404</p>
</div>